datasets==2.8.0
h5py==3.8.0
huggingface-hub==0.12.0
joblib==1.2.0
matplotlib==3.6.3
multidict==6.0.4
multiprocess==0.70.14
nltk==3.8.1
numpy==1.24.1
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
PyYAML==6.0
sentencepiece==0.1.97
six==1.16.0
termcolor==2.2.0
tf-slim==1.1.0
tokenizers==0.11.1
torch==1.12.0
transformers==4.19.3
sacremoses
pytorch-lightning
scikit-learn
